@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {

    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}


section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

a {
    text-decoration: none;
}


/* LANDING */


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;

}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 38px;
    height: 38px;
}

.nav__logo--text {
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    color: rgb(5, 5, 5);

}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav__link {
    color: rgb(25, 24, 24);
    font-size: 18px;
    font-weight: 600;
    margin: 0 16px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

}

.nav__link--primary {
    background: #1521ff;
    color: white;
    padding: 12px 32px;
    border-radius: 9999px;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #1a3cfd;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* 

about / Memberships ↓

*/

#memberships {
    background-image: linear-gradient(rgba(59, 130, 246, 0.4), rgba(59, 130, 246, 0.4)), url(./assets/towtruck-snowyhighway.png);

    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("./assets/your-image.jpg"); */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}
 /* overlay that will blur
#memberships::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition: backdrop-filter 300ms ease;
}

/* blur only on hover 
#memberships:hover::before {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
} */

#memberships .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.memerbships__title {
    width: 40%;
    color: ghostwhite;
    font-weight: 700;
    font-size: 48px;

}

.membership__para--wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.membership__para {
    font-size: 20px;
    color: rgb(230, 237, 237);
    margin-bottom: 16px;
}

.glass {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    padding: 24px;
}

.member__btn {
    width: 160px;
    padding: 14px 0;
    background: #dcdce7;
    color: #020202;
    border-radius: 500px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 300ms ease, transform 300ms ease;

}


.member__btn:hover {
    cursor: pointer;
    background-color: #1355e4;
    color: white; }

.member__btn:active {
    transform: scale(0.98);
}



/* 
Services
*/

#services{
    display: flex;
    justify-content: space-between;
    
    
}

.services__title{
    font-size: 24px;
    color: #020202;
    align-items: center;
}

.services__subtitle{
    font-size: 18px;
    color: #1a202c;
    align-items: center;
}

.services__list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.service{
    font-weight: 400;
    font-size: 24px;
}
.service__para{
    font-size: 18px;
    color: #1a202c;
}